* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
        height: 100%;
        font-family: 'main_fonts';
        font-size: 1.1em;
        text-align: center;
        background: linear-gradient(140deg, #424242 60%,#383838 40%);
    }

main {
    min-height: calc(100vh - 55px - 171px);
}

.nav-link:hover, footer a:hover {
    background: #626868;
}

.custom-file-label { opacity: 0; }
.custom-file-input { opacity: 1; }

i {
    color: lightgray;
}

    @font-face{
        font-family: "main_fonts";
         src: url('../css/coolvetica/coolvetica rg.ttf');
    }
    @font-face {
      font-family: "street";
      src: url('../css/coolvetica/coolvetica rg.ttf');
    }

    @font-face{
        font-family: "mafont";
         src: url('../css/freshmarker.ttf');
    }
    @font-face {
      font-family: "sister";
      src: url('../css/freshmarker.ttf');
    }

    @font-face{
        font-family: "megafont";
         src: url('../css/MegaMan.ttf');
    }
    @font-face {
      font-family: "megaman";
      src: url('../css/MegaMan.ttf');
    }

    .megaman {
        font-family: 'megafont';
        font-size: 2em;
        color: white;
    }

    .navbar-brand {
        font-family: 'mafont';
    }

  footer {
    margin-top: auto;
      background: black;
  }

a {
    text-decoration: none;
    color: white;
}

form {
    margin-left: auto;
    margin-right: auto;
}

a:hover {
    text-decoration: none;
    color: white;
}

label {
    color: white;
}

legend {
    color: white;
}

.box-form {
    border-radius: 1rem; 
    box-shadow: 0 0.3rem 1rem 0 rgba(0, 0, 0, 0.4); 
    width: 70%; 
    height: auto;
    background: rgba(0, 0, 0, 0.5);
  }

  .navbar-nav li:hover {
    background: rgba(0, 0, 0, 0.4);
  }

  .navbar-brand:hover {
    transform: scale(1.05);
    transition: 300ms;
      }

  .alert {
    width: 50%;
    border-radius: 1rem;
}

i:hover {
    cursor: pointer;
    transform: scale(1.03);
    transition: 50ms;
}



.profil_nav {
    width: 14%;
}

.profil_nav img {
    width: 28%;
    height: 38px;
}

@media screen and (max-width: 1100px){
    .profil_nav {
        width: 100%;
    }
    .profil_nav img {
        width: 3%;
        height: 20px;
    }
    .nav_co {
        display: flex;
        flex-direction: column!important;
    }
}

@media screen and (max-width: 500px){
 .box-form {
     width: 90%;
 }
 .profil_nav {
     width: 100%;
 }
 .profil_nav img {
     width: 5%;
     height: 20px;
 }
}

